* {
  font-family: 'Gotham', sans-serif;
}

body {
  background-color: rgb(255, 255, 255);
  display: flex;
  font-size: 110%;
}

.wave-top {
  position: fixed;
  height: 100px;
}

.login-h1 {
  color: rgb(68, 68, 68);
  width: 120px;
  margin: 150px 117px 0px;
}

.login-form {
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 93%;
  padding: 80px 15px 15px;
}

.login-form-input {
  color: rgb(0, 0, 0);
  font-size: 90%;
  padding: 10px;
  width: 50%;
  margin: 0 0 5% 1%;
  border: 0;
  border-bottom: 1px solid rgb(0, 0, 0);
  border-radius: 3px;
  background-color: inherit;
}

.login-form-input:focus {
  outline: none;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.password-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.password-visibility {
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  font: inherit;
  padding: 0.6em;
  margin-bottom: 15px;
  background-image: url("https://img.icons8.com/material-sharp/20/000000/visible.png");
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.password-visibility:checked {
  background-image: url("https://img.icons8.com/material-outlined/20/000000/invisible.png");
  cursor: pointer;
}

.login-form-button:nth-of-type(1) {
  margin-top: 70px;
}

.login-form-button {
  color: white;
  font-size: 90%;
  padding: 15px 20px;
  margin-top: 20px;
  background-color: rgb(126, 86, 126);
  border: 0;
  border-radius: 5px;
}

.login-form-button:disabled {
  color: rgb(165, 165, 165);
}
