.create_account-h1 {
  color: #EEEEEE;
  width: 150px;
  margin: 0 0 50px;
  font-size: 250%;
}

.create_account-form {
  background-color: #222831;
  color: #EEEEEE;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 93%;
  padding: 100px;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.create_account-form-input {
  color: #EEEEEE;
  font-size: 90%;
  padding: 10px;
  width: 60%;
  margin: 0 0 5% 1%;
  border: 0;
  border-bottom: 1px solid #EEEEEE;
  border-radius: 0 0 5px 0;
  background-color: inherit;
}

.create_account-form-input:-webkit-autofill,
.create_account-form-input:-webkit-autofill:hover, 
.create_account-form-input:-webkit-autofill:focus, 
.create_account-form-input:-webkit-autofill:active{
  -webkit-text-size-adjust: 90%;
  -webkit-text-fill-color: #EEEEEE !important;
  -webkit-box-shadow: 0 0 0 30px #222831 inset !important;
}

.create_account-form-input:focus {
  outline: none;
  color: #EEEEEE;
  text-decoration: none;
}
